#!/bin/sh
set -e

. /usr/share/debconf/confmodule

if [ -e /etc/default/xfstt ]; then
  . /etc/default/xfstt || true

  case " $OPTIONS " in
  "* --notcp *")
    LISTEN_TCP=false
    ;;
  *)
    # XXX: Legacy backwards compatibility.
    if [ "$LISTEN_TCP" = no ]; then
      LISTEN_TCP=false
    else
      LISTEN_TCP=true
    fi
    ;;
  esac
else
  LISTEN_TCP=false
fi
db_set xfstt/listen_tcp $LISTEN_TCP

db_input low xfstt/listen_tcp || true
db_go || true
